<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>

    <h1>My astro learning blog</h1>
    <p>This is where i will post about my journey learning astro</p>
</body>